<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h2>Pending Friend Requests</h2>

            <ul>
                <% current_user.pending_friend_requests.each do |request| %>
                    <li><%= User.find(request).name %></li>
                    <li>
                        <%= link_to "Accept", friend_accept_path(id: request) %>
                        <%= link_to "Decline", friend_decline_path(id: request) %>
                    </li>
                    <br>
                <% end %>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Pending Friend Invites</h2>

            <ul>
                <% current_user.pending_friend_invitations.each do |invitation| %>
                    <li><%= User.find(invitation).name %></li>
                    <li> Response Currently Pending </li>
                    <br>
                <% end %>
            </ul>
        </div>
    </div>
</div>
