/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome';

 /* External Styling */
 @import 'devise';
 @import 'headquarters';

:root {
    --color-1: ghostwhite;
    --color-2: bisque;
    --color-3: #FC600A;
    --color-4: cadetblue;
    --color-5: steelblue;
    --color-6: lightslategray;
    --color-7: slategray;
    --color-8: darkslategray;
}

 html, body {
     height: 100%;
     background-image: linear-gradient(to top right, var(--color-4), var(--color-5));
 }

nav.navbar.navbar-default {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    border-radius: 0;
    background-color: var(--color-8);
}

.navbar-default .navbar-nav > li > a {
    color: var(--color-2);
}

.navbar-default .navbar-nav > li > a:hover {
    color: var(--color-3);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: var(--color-3);
    background-color: var(--color-7);
    padding-bottom: 0;
    padding-top: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: var(--color-3);
}

.navbar-nav > li > .dropdown-menu {
    padding: 0;
    background-color: var(--color-1);
}

.dropdown-menu > li > a {
    color: var(--color-7);
}

.dropdown-menu > li > a:hover {
    color: var(--color-7);
    background-color: var(--color-2);
}

.navbar-default .navbar-brand {
    color: var(--color-2);
}

input#user_email.form-control {
    background-color: var(--color-1);
}

input#user_password.form-control {
    background-color: var(--color-1);
}

input#search.form-control.mr-sm-2 {
    background-color: var(--color-1);
}

input#search.form-control.mr-sm-2::placeholder {
    color: var(--color-6);
}

input.btn.btn-secondary.my-2.my-sm-0 {
    color: var(--color-7);
    background-color: var(--color-2);
}

input.btn.btn-secondary.my-2.my-sm-0:hover {
    color: var(--color-8);
    background-color: var(--color-3);
}

.navbar-default .navbar-brand:hover {
    color: var(--color-3);
}

.separator {
    height: 5px;
    width: 100%;
    background-color: var(--color-3);
}

@media only screen and (max-width: 850px) {
    #navbar-requests, #navbar-invitations {
        display: none;
    }
}
