// Place all the styles related to the Challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

:root {
    --color-1: ghostwhite;
    --color-2: bisque;
    --color-3: #FC600A;
    --color-4: cadetblue;
    --color-5: steelblue;
    --color-6: lightslategray;
    --color-7: slategray;
    --color-8: darkslategray;
}

div.container.container-invite {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
    padding-top: 30px;
    margin-top: 0px;
}

div.container.container-run {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    padding-top: 30px;
    margin-top: 0px;
}

div.container.container-outcome {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    padding-top: 30px;
    margin-top: 0px;
}

input#category_addition {
    height: 20px;
    width: 20px;
}
