:root {
    --color-1: ghostwhite;
    --color-2: bisque;
    --color-3: #FC600A;
    --color-4: cadetblue;
    --color-5: steelblue;
    --color-6: lightslategray;
    --color-7: slategray;
    --color-8: darkslategray;
}

/* Login */
div.container.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right, var(--color-4), var(--color-5));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-top: 0px;
}


.login-col {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
}

.login-col h1 {
    color: var(--color-2);
    margin-top: 0;
    font-size: 38px;
}

.login-col em {
    color: var(--color-3);
}

.login-col i {
    color: var(--color-3);
}

.login-col a {
    color: var(--color-3);
}

.login-col input {
    color: var(--color-5);
}

.login-col input::placeholder {
    color: var(--color-5);
}

.login-col .form-control {
    color: var(--color-5);
}

/* Signup */
.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.signup-col {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
}

.signup-col h1 {
    color: var(--color-2);
    margin-top: 0;
    font-size: 38px;
}

.signup-col em {
    color: var(--color-3);
}

.signup-col i {
    color: var(--color-3);
}

.signup-col a {
    color: var(--color-3);
}

.signup-col input {
    color: var(--color-5);
}

.signup-col input::placeholder {
    color: var(--color-5);
}

.signup-col .form-control {
    color: var(--color-5);
}

/* Edit */
.edit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.edit-col {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
}

.edit-col h1 {
    color: var(--color-2);
    margin-top: 0;
    font-size: 38px;
}

.edit-col em {
    color: var(--color-3);
}

.edit-col i {
    color: var(--color-3);
}

.edit-col a {
    color: var(--color-3);
}

.edit-col input {
    color: var(--color-5);
}

.edit-col input::placeholder {
    color: var(--color-5);
}

.edit-col .form-control {
    color: var(--color-5);
}

@media only screen and (max-width: 768px), only screen and (max-height: 868px) {
    .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to top right, var(--color-4), var(--color-5));
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    /* Signup */
    .signup-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-top: 380px;
        padding-bottom: 380px;
    }

    /* Edit */
    .edit-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-top: 480px;
        padding-bottom: 480px;
    }
}
