:root {
    --color-1: ghostwhite;
    --color-2: bisque;
    --color-3: #FC600A;
    --color-4: cadetblue;
    --color-5: steelblue;
    --color-6: lightslategray;
    --color-7: slategray;
    --color-8: darkslategray;
}

/* Login */
div.container.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-top: 0px;
}


.login-col {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
}

.login-col h1 {
    color: var(--color-2);
    margin-top: 0;
    font-size: 38px;
}

.login-col em {
    color: var(--color-3);
}

.login-col i {
    color: var(--color-3);
}

.login-col a {
    color: var(--color-3);
}

.login-col input {
    color: var(--color-5);
}

.login-col input::placeholder {
    color: var(--color-5);
}

.login-col .form-control {
    color: var(--color-5);
}

/* Signup */
div.container.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 0px;
}

.signup-col {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
}

.signup-col h1 {
    color: var(--color-2);
    margin-top: 0;
    font-size: 38px;
}

.signup-col em {
    color: var(--color-3);
}

.signup-col i {
    color: var(--color-3);
}

.signup-col a {
    color: var(--color-3);
}

.signup-col input {
    color: var(--color-5);
}

.signup-col input::placeholder {
    color: var(--color-5);
}

.signup-col .form-control {
    color: var(--color-5);
}

/* Edit */
div.container.edit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0.95%;
    padding-bottom: 0.95%;
    margin-top: 0px;
}

.edit-col {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-2);
}

.edit-col h1 {
    color: var(--color-2);
    margin-top: 0;
    font-size: 38px;
}

.edit-col em {
    color: var(--color-3);
}

.edit-col i {
    color: var(--color-3);
}

.edit-col a {
    color: var(--color-3);
}

.edit-col input {
    color: var(--color-5);
}

.edit-col input::placeholder {
    color: var(--color-5);
}

.edit-col .form-control {
    color: var(--color-5);
}
