// Place all the styles related to the Headquarters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


:root {
    --color-1: ghostwhite;
    --color-2: bisque;
    --color-3: #FC600A;
    --color-4: cadetblue;
    --color-5: steelblue;
    --color-6: lightslategray;
    --color-7: slategray;
    --color-8: darkslategray;
}

/* Main */
.jumbotron {
    background-image: url("Mathematics_Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 150px;
    margin-bottom: 0px;
}

.jumbotron h1 {
    color: var(--color-2);
}

.separator {
    height: 5px;
    width: 100%;
    background-color: var(--color-3);
}

/* Main Page */
div.container.container-main {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-top: 30px;
    margin-top: 0px;
}

.row.row-main {
    width: 100%;
}

h2 {
    color: var(--color-3);
}

h2#feed {
    margin-top: 26px;
}

.col-md-2#main_left p {
    color: var(--color-2);
}

.col-md-2#main_left p b {
    color: var(--color-8);
}

.col-md-3#main_right h2 {
    font-size: 24px;
}

textarea#post_post_entry.col-md-10 {
    padding-top: 5px;
    border-style: 1px var(--color-6) solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

input.btn.btn-primary {
    color: var(--color-7);
    background-color: var(--color-2);
}

input.btn.btn-primary:hover {
    color: var(--color-8);
    background-color: var(--color-3);
}

/* Requests and Invitations */
div.container.container-requests-and-invitations {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    padding-top: 30px;
    margin-top: 0px;
}

.row#requests_and_invitations {
    width: 80%;
}

.col-md-6#requests_and_invitations h2 {
    text-align: center;
    margin-bottom: 20px;
}

.col-md-6#requests_and_invitations ul {
    list-style: none;
    padding: 0;
}

.col-md-6#requests_and_invitations ul li #requests.well {
    background-color: var(--color-7);
    width: 42%;
    border: 1px solid var(--color-1);
    margin-left: auto;
    margin-right: auto;
}

.col-md-6#requests_and_invitations ul li #invitations.well {
    background-color: var(--color-7);
    width: 50%;
    border: 1px solid var(--color-1);
    margin-left: auto;
    margin-right: auto;
}

.col-md-6#requests_and_invitations ul li .well p {
    color: var(--color-2);
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-md-6#requests_and_invitations ul li .well p a {
    color: var(--color-3);
}

/* All Users */
div.container.container-all-users {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    margin-top: 0px;
}
